*.[od]
*~
*.swp
.deps
aclocal.m4
Makefile
Makefile.in
autom4te.cache
build.h
config.h
config.log
config.status
configure
fset_gen.h
stamp-h
stamp-h1
vars_gen.h
xaric
INSTALL
config.guess
config.h.in
config.sub
depcomp
install-sh
missing
compile
